 
 <h3> Accouchement de <%= "#{@labour.patient.first_name} #{@labour.patient.last_name}" %> </h3>
 

  <% b = @labour.labour_start_at %>
  <%=@labour.labour_end_at %>
  <% @labourbegin = b.strftime("Déclenchement: %d/%m/%Y à %Hh%M") %>
  <% @labourend = e.strftime("Déclenchement: %d/%m/%Y à %Hh%M") %>
  <%=  "#{@labourbegin}" %>
  <%= "#{@labourbegin}" %>
  
 