// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #f8f9fa;
$white: #ffffff;


$teal: #72A8A8;
$pink: #F9D2BD;
$coral: #F2C076;
$navy: #2D3260;
$lightblue: #d8e2dc;
$dark-pink: #9d8189;
$turquoise: #53C3A8;
