// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0249A7;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #f8f9fa;
$white: #ffffff;



// $teal: #53C3A8;
// $pink: #F9D2BD;
// $coral: #F2C076;
// $navy: #2D3260;
// $lightblue: #D8E2DC;
// $lightgreen: #53c3a812;
// $dark-pink: #9d8189;



$teal: #53C3A8;
$pink: #ff9f9f;
$coral: #ffba51;
$navy: #0b0a77;
$lightblue: #accff3;
$lightgreen: #80b3fb1a;
$dark-pink: #b98cd0;
$turquoise: #53C3A8;
$dark-blue: #11112b;

