.dashboard-action {
  flex-grow: 1;
}

.main-content {
  position: relative;
}

.bottom-content {
  display: flex;
  margin-top: 20px;
}

#search-right {
  padding-top: 20px;
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 25px;
  right: 8px;
}

.info-dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.search-window {
  background-color: $pink;
  position: absolute;
  right: 0;
  height: 100%;
  overflow-y: scroll;
  top: 0;
  display: none;
}

.search-window.appear {
  display: inline-block;
}

.container-dashboard {
  width: 100%;
}

#close {
  position: absolute;
  top: 11px;
  right: 14px;
  color: white;
  cursor: pointer;
}

.dashboard-container {
  display: flex;
  justify-content: center;
}

#welcome-message {
  overflow: hidden;
  height: 250px;
  background: white;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  border-radius: 1rem;
  margin-top: 15px;
  margin-bottom: 40px;
  justify-content: space-around;
}

.card-image {
  height: 100%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  color: $blue;
}

.welcome-message p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-infos p {
  color: grey;
  font-weight: 400;
}

.card-product img {
  height: 100%;
  object-fit: cover;
  border-radius: 53px;
}


