.dashboard-action {
  flex-grow: 1;
}

.main-content {
  position: relative;
}

.search-window {
  background-color: $blue;
  position: absolute;
  right: 0;
  height: 100%;
  overflow-y: scroll;
  top: 0;
  display: none;
}

.search-window.appear {
  display: inline-block;
}

.container-dashboard {
  width: 80%;
}

.search-window .search-form-control.form-group {
  margin-top: 50px;
  margin-bottom: 30px;
}

#close {
  position: absolute;
  top: 11px;
  right: 14px;
  color: white;
  cursor: pointer;
}

.dashboard-container {
  display: flex;
  justify-content: center;
}

#welcome-message {
  overflow: hidden;
  height: 250px;
  background: white;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  border-radius: 4rem;
  margin-top: 15px;
  margin-bottom: 40px;
}

.card-product img {
  height: 100%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.welcome-message p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding-right: 15px;
  padding-left: 35px;
}


.box-number {
  background-color: $coral;
  color: white;
  font-weight: 700;
  font-size: 20px;
  margin-top: 20px;
  border-radius: 15px;
}

#labour-icon {
  color: $coral;
  font-size: 3em;
  border: 1px solid $coral;
  padding: 15px;
  border-radius: 25px;
  background-color: #f2c07640;
}


#life-icon {
  color: $pink;
  font-size: 3em;
  border: 1px solid $pink;
  padding: 15px;
  border-radius: 25px;
  background-color: #f9d2bd38;
}

.box-number-baby {
  background-color: $pink;
  text-align: center;
  color: $pink;
  font-weight: 700;
  font-size: 20px;
  margin-top: 20px;
  border-radius: 15px;
  bottom: unset;
  align-content: unset;
  padding-left: 21px;
  padding-right: 21px;
}

.fas.fa-user-injured {
  color: $navy;
  font-size: 3em;
  border: 1px solid $navy;
  padding: 15px;
  border-radius: 25px;
  background-color: #2d32601f;
}


.box-patients {
  background-color: $navy;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 20px;
  margin-top: 20px;
  border-radius: 15px;
  bottom: unset;
  align-content: unset;
  padding-left: 21px;
  padding-right: 21px;
}
