.container-form {
  width: 50vw;
  margin: 0 auto;
}

@media (min-width: 100px) and (max-width: 750px) {
  .container-form {
    width: 80vw;
  }
}

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  border-radius: 50rem;
  padding: 0.4rem 0.8rem;
  color: $teal;
  border: 1px solid $teal;
  margin-right: 1rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: $teal;
  color: white;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid $teal;
  border-radius: 50rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

