// Specific CSS for your home-page
.wrapper.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  padding-top: 80px;
  width: 100%;
  z-index: 1;
}

.half {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  display: flex;
  align-items: center;
}

.half h1 {
  font-size: 40px;
  font-weight: 600;
}

.half p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
}

.banner-2 h3{
  text-align: center;
}

.banner-2 {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 60vh;
  background-color:white;
  display: flex;
  align-items: center;
}

.banner-2 p {
  color: white;
}


.banner-3 {
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  height: 60vh;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px;
}

.card-category {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #72A8A8;
}

.fas.fa-laptop-medical {
  background-color: #72A8A8;
  color: white;
  font-size: 60px;
}

.far.fa-calendar-alt{
 background-color: #72A8A8;
  color: white;
  font-size: 60px;
}

.banner-3 h1 {
  font-size: 32px;
  font-weight: bold;
}

.banner-3 p {
  font-size: 20px;
}

.contact{
  display: flex;
  justify-content: center;
  padding: 50px;
}
