// Specific CSS for your home-page
.wrapper.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  padding-top: 80px;
  width: 100%;
  z-index: 1;
}

.half {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 450px;
  display: flex;
  align-items: center;
}

.half h1 {
  font-size: 40px;
  font-weight: 600;
}

.half p {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 400;
}

.banner-2 h3{
  text-align: center;
}

.banner-2 {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 60vh;
  background-color:white;
  display: flex;
  align-items: center;
}

.banner-2 p {
  color: white;
}


.banner-3 {
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  height: 60vh;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px;
}

.card-category {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  text-align: center;
  padding-top: 20px;
}

.fas.fa-laptop-medical {
  padding: 20px;
  border-radius: 20px;
  background-color: #53c3a838;
  color: $teal;
  font-size: 60px;
}

.far.fa-calendar-alt{
  padding: 20px;
  border-radius: 20px;
  background-color: #53c3a838;
  color: $teal;
  font-size: 60px;
  height: 100px;
  width: 116px;
}

.one-click {
  padding: 10px;
  border-radius: 20px;
  background-color: #53c3a838;
  color: #53C3A8;
  font-size: 60px;
  height: 100px;
  width: 116px;
}

.banner-3 h1 {
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 32px;
  font-weight: bold;
}

.banner-3 p {
  font-size: 20px;
}

.contact {
  display: flex;
  justify-content: center;
  padding: 50px;
}

#contact-us {
  font-size: 20px;
  letter-spacing: 1.3px;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 50rem;
  background: $coral;
  transition: background 0.3s ease;
  margin-top: 10px;
}

#contact-us:hover {
  background: #ffba519e;
  color: white;
}

.logo-container {
  position: absolute;
  transform: translateX(-50%);
  z-index: 3;
}

.logo {
  width: 50%;
  position: relative;
  left: 115px;
  top: 30px;
}

.logo-violet {
  width: 40%;
  margin-left: -20px;
}

.main-services h3 {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 52px;
  margin-top: 20px;
  color: $teal;
}

.main-services p {
  font-size: 18px;
  font-weight: 400;
}

.half-text h3 {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 18px;
  color: $coral;
}
