// Import page-specific CSS files here.
@import "home";
@import "dashboard";
@import "show";
@import "form";
@import "show_patients";
@import "show_patients_form";
@import "show_patients_babyinfo";
@import "modal_form";
