#msform {
  position: relative;
}

// #msform fieldset {
//   background: white;
//   border: 0 none;
//   border-radius: 0px;
//   padding: 30px 30px;
//   box-sizing: border-box;
//   margin: 0px 4%;
//   position: relative;
// }

.container-form {
  background: white;
  border: 0 none;
  border-radius: 20px;
  padding: 30px 30px;
  box-sizing: border-box;
  margin: 0px 4%;
  position: relative;
  z-index: -1;
}

.form_step {
  background: white;
  border: 0 none;
  border-radius: 0px;
  padding: 30px 30px;
  box-sizing: border-box;
  margin: 0px 4%;
  position: relative;
}

/*headings*/
.fs-title {
  text-align: center;
  font-size: 24px;
  color: #184BA1;
  margin-bottom: 15px;
  letter-spacing: 1px;
  font-weight: 600;
}

//*progressbar*--------//

#progressbar {
  text-align: center;
  overflow: hidden;
  counter-reset: step;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 0;
}


#progressbar li {
  list-style-type: none;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 45px;
  height: 45px;
  line-height: 26px;
  display: flex;
  font-size: 30px;
  color: white;
  background-color: $teal;
  border-radius: 25px;
  margin: 0 auto 10px auto;
  align-items: center;
  justify-content: center;
  &.present {
    background-color: $coral;
    color: white;
  }
}

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: $teal;
  position: absolute;
  left: -50%;
  top: 22px;
  z-index: -1; /*put it behind the numbers*/
  &.present {
    background: $coral;
  }
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

#progressbar li.active:before, #progressbar li.active:after {
  background: $teal;
  color: white;
}

.fs-subtitle {
  text-align:center;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-bottom: 25px;
}

.container-button {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.container-button-1 {
  display: flex;
  justify-content: flex-end;
}

#artificial-labour {
  background-color: #184BA1;
}

.btn-ghost {
  background-color: #184BA1;
  color: white;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: 400;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}
