.container-dashboard {
  width: 80%;
}

.badge {
  background-color: #ffca5a3b;
  font-size: 12px;
  border-radius: 18px;
  font-weight: 600;
  color: #ffca5a;
  margin-bottom: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 22px;
  padding-right: 22px;
  margin-right: 10px;
}

.badge2 {
  background-color: #57cbf22e;
  font-size: 12px;
  border-radius: 18px;
  font-weight: 600;
  color: #57CBF2;
  margin-bottom: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 22px;
  padding-right: 22px;
}

.card-infos h2 {
  color: #ffca5a;
}

.fa-address-card {
  color: #a6cdbb;
  margin-right: 8px;
}

.fa-vial {
  color: #a6cdbb;
}

#patient-info {
  height: 300px;
  background: white;
  display: flex;
  border-radius: 1rem;
  margin-top: 15px;
  margin-bottom: 50px;
  justify-content: space-between;
}

.card-product-labour {
  padding: 20px;
  background: white;
  border-radius: 8px;
  margin-bottom: 15px;
  // overflow: hidden;
  // height: 370px;
  h2 {
    font-size: 16px;
    color: $dark-green;
    font-weight: 600;
  }
  p {
    font-size: 14px;
  }
  img {
    padding: 0px;
    max-width: 200px;
    object-fit: contain;
  }
}

.card-title {
  background-color: #a6cdbb;
  color: white;
  padding-top: 12px;
  padding-bottom: 6px;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-product .card-infos {
  padding: 50px;
}

#patient-info img {
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}

.buttons-show {
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(146px, 1fr));
  width: 70%;
  margin: 0 auto 50px;
}

.buttons-show a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.buttons-show span {
  margin-left: 5px;
}

.buttons-show {
  .button-action1, .button-action2, .button-action3, .button-action4, .button-action5, .button-action6  {
    width: 146px;
  }
}

#new_labour > fieldset {
  display: none;
  &.active {
    display: block;
  }
}

// -----------------------------//
