.container-babyinfo-actions {
  display: flex;
  align-items: self-start;
  margin: 20px 0 50px;
}

.card-product-baby {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: white;
  border-radius: 8px;
  margin-bottom: 15px;
  h2 {
    font-size: 16px;
    color: $dark-green;
    font-weight: 600;
  }
  p {
    font-size: 14px;
  }
  img {
    padding: 0px;
    max-width: 200px;
    object-fit: contain;
  }
  span {
    font-size: 14px;
    color: black;
    font-weight: 400;
  }
}

.baby-info {
  display: flex;
  padding-top: 20px;
}

.baby-info .left-info {
  padding-right: 30px;
}
