.container-dashboard {
  width: 80%;
}

.badge {
  background-color: #ffca5a3b;
  font-size: 12px;
  border-radius: 18px;
  font-weight: 600;
  color: #ffca5a;
  margin-bottom: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 22px;
  padding-right: 22px;
  margin-right: 10px;
}

.badge2 {
  background-color: #57cbf22e;
  font-size: 12px;
  border-radius: 18px;
  font-weight: 600;
  color: #57CBF2;
  margin-bottom: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 22px;
  padding-right: 22px;
}

.card-infos h2 {
  color: #ffca5a;
}

.fa-address-card {
  color: #a6cdbb;
  margin-right: 8px;
}

.fa-vial {
  color: #a6cdbb;
}

#patient-info {
  height: 300px;
  background: white;
  display: flex;
  border-radius: 1rem;
  margin-top: 15px;
  margin-bottom: 80px;
  justify-content: space-between;
}

.card-product-labour {
  padding: 20px;
  background: white;
  border-radius: 8px;
  margin-bottom: 15px;
  h2 {
    font-size: 16px;
    color: $dark-green;
    font-weight: 600;
  }
  p {
    font-size: 14px;
  }
  img {
    padding: 0px;
    max-width: 200px;
    object-fit: contain;
  }
}

.card-title {
  background-color: #a6cdbb;
  color: white;
  padding-top: 12px;
  padding-bottom: 6px;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-product .card-infos {
  padding: 50px;
}

#patient-info img {
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}

.content-below-card {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.buttons-show {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.buttons-show a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.buttons-show span {
  margin-left: 5px;
}


// -----------------------------//

.baby-prenom-nom {
  display: flex;
  justify-content: space-between;
}

//Class pour Javascript//

/*  .travail-spontane-checkbox {
  display: none;
 }

 .travail-spontane-checkbox.show {
  display: show;
 }

 .cesarienne-checkbox {
  display: none;
 }

 .cesarienne-checkbox.show {
  display: show;
 }

 .artificial-labour {
  display: none;
 }

 .artificial-labour.show {
  display: show;
 }

 .labour_drugs {
  display: none;
 }

 .labour_drugs.show {
  display: show;
 }

 .pharmacie-checkbox {
  display: none;
 }

 .pharmacie-checkbox.show {
  display: show;
 }

 .category-anesthesia {
  display: none;
 }

.category-anesthesia.show {
  display: block;
}

 .moment-anesthesia {
  display: none;
 }

 .moment-anesthesia.show {
  display: show;
 }

 #anesthesia-loco-general {
  display: none;
 }

 #anesthesia-general {
  display: none;
 }

 .anesthia-checkbox {
  display: none;
 }

 .anesthia-checkbox.show {
  display: show;
 }

 .complication-type {
  display: none;
 }

  .complication-type.show {
  display: show;
 }

 .complication-checkbox {
  display: none;
 }

 .complication-checkbox.show {
  display: show;
 }

 .labour-actes {
  display: none;
 }

 .labour-actes.show {
  display: show;
 }


 .delivrance-checkbox {
  display: none;
 }

 .delivrance-checkbox.show {
  display: show;
 }

 .monitoring-options {
  display: none;
 }

 .monitoring-options.show {
  display: show;
 }

 .monitoring-checkbox {
  display: none;
 }

 .monitoring-checkbox.show {
  display: show;
 }

 .intensivecare-checkbox {
  display: none;
 }

 .intensivecare-checkbox.show {
  display: show;
 }

 .intensivecare-options {
  display: none;
 }

 .intensivecare-options.show {
  display: show;
 }

 .infections-options {
  display: none;
 }

 .infections-options.show {
  display: show;
 }

.infections-checkbox {
  display: none;
 }

 .infections-checkbox.show {
  display: show;
 }

 .pathologies-checkbox {
   display: none;
 }

 .pathologies-checkbox.show {
   display: show;
 }

 .pathologies-options {
   display: none;
 }

 .pathologies-options.show {
   display: show;
 }
 */
 


#new_labour > fieldset {
  display: none;
  &.active {
    display: block;
  }
}

// -----------------------------//
