.container-labourform {
  text-align: center;
  background: white;
  border: 0 none;
  border-radius: 20px;
  padding: 40px 30px;
  box-sizing: border-box;
  position: relative;

}

.form_step {
  background: white;
  border: 0 none;
  border-radius: 0px;
  padding: 30px 30px;
  box-sizing: border-box;
  margin: 0px 4%;
  position: relative;
}

/*headings*/
.fs-title {
  text-align: center;
  font-size: 24px;
  color: $navy;
  margin-bottom: 15px;
  letter-spacing: 1px;
  font-weight: 600;
}

//*progressbar*--------//

#progressbar {
  width: 50%;
  overflow: hidden;
  counter-reset: step;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 0;
  margin: auto;
}

#progressbar li {
  list-style-type: none;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  display: flex;
  font-size: 20px;
  color: $navy;
  background-color: #F3F7FD;
  border: 1px solid $navy;
  border-radius: 25px;
  margin: 0 auto 10px auto;
  align-items: center;
  justify-content: center;
  z-index:2;
  &.present {
    background-color: $navy;
    color: #F3F7FD;
  }
}

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: $navy;
  position: absolute;
  left: -50%;
  top: 14px;
  z-index: 1; /*put it behind the numbers*/
  &.present {
    background: $navy;
  }
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

#progressbar li.active:before, #progressbar li.active:after {
  background-color: $navy;
  color: #F3F7FD;
}

.fs-subtitle {
  text-align:center;
}

label {
  font-size: 16px;
  color: #184BA1;
  font-weight: 500;
  display: inline-block;
  line-height: 2.0;
}

.form-check-input {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: -1.5rem;
}

.col-form-label {
  line-height: 1.5;
  color: #184BA1;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.container-button {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.container-button-1 {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
}

// #artificial-labour {
//   background-color: $navy;
// }

.labour-wrap {
  text-align: left;
  background-color: #F3F7FD;
  padding: 25px;
  border-radius: 20px;
  color: $navy;
  font-size: 16px;
}

#artificial-labour {
  color: $navy;
  font-size: 20px;
  font-weight: 600;
}

.btn-ghost {
  margin-top: 25px;
  background-color: #184BA1;
  color: white;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: 400;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  background-color: #184ba1cc;
  color: white;
}

#btn-previous {
  margin-top: 25px;
  background-color: #1f5fca2e;
  color: #184BA1;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: 400;
  transition: opacity 0.3s ease;
}

#btn-previous:hover {
  background-color: #184BA1;
  color: white;
}

.toggle-yes-no {
  position: absolute;
  transform: scale(0);
}

.toggle-yes-no + label {
  position: relative;
  display: inline-block;
  padding-left: 40px;
}

.toggle-yes-no + label::before {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 36px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #EAEAEA;
  border-radius: 50rem;
}

.toggle-yes-no:checked + label::before {
  background-color: $navy;
}

.toggle-yes-no + label::after {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  background-color: white;
  border-radius: 50%;
  transition: left 0.2s ease;
}

.toggle-yes-no:checked + label::after {
  left: 18px;
}

label.form-check-label.boolean.optional{
  color: transparent;
}

// DO NOT DELETE THOSE LINES WHEN ON GITHUB
.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 30%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: left;
  padding: 10px 10px 30px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
  border-color: $navy;
}

.category-selector:checked + label {
  color: white !important;
  background-color: $navy;
}


#labour_baby_sex_masculin + label {
  color: $navy;
  background-image: asset-url('male-black.svg');
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: self-start;
  background-position: center;
  height: 100px;
  background-size: 13%;
  font-size: 12px;
}

#labour_baby_sex_masculin:checked + label {
  background-color: $navy;
  border-color: $navy;
  background-image: asset-url('male.svg');
}

#labour_baby_sex_féminin + label {
  color: $navy;
  background-image: asset-url('female-black.svg');
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: self-start;
  background-position: center;
  height: 100px;
  background-size: 7%;
  font-size: 13px;
}

#labour_baby_sex_féminin:checked + label {
  background-color: $navy;
  border-color: $navy;
  background-image: asset-url('female.svg');
}


#labour_baby_sex_indéterminé + label {
  color: $navy;
  background-image: asset-url('no-gender-black.svg');
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: self-start;
  background-position: center;
  height: 100px;
  background-size: 13%;
  font-size: 13px;
}

#labour_baby_sex_indéterminé:checked + label {
  background-color: $navy;
  border-color: $navy;
  background-image: asset-url('no-gender.svg');
}
