.container-babyinfo-actions {
  display: flex;
  align-items: self-start;
  margin: 20px 0 50px;
}

.patient-babies {
  text-align: center;
}

.card-product-baby-info {
  padding: 20px;
}

.card-product-baby {
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background: white;
  border-radius: 8px;
  h2 {
    font-size: 22px;
    font-weight: 600;
    color: $navy;
  }
  p {
    font-size: 18px;
    font-weight: 600;
    color: #FFC0C7;
  }
  img {
    padding: 0px;
    max-width: 200px;
    object-fit: contain;
  }
  span {
    font-size: 14px;
    color: black;
    font-weight: 400;
  }
}

.baby-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 20px;
  grid-gap: 28px;
  color: $navy;
  h4 {
    margin-top: 8px;
    color: $navy;
  }
}

.card-product-baby-info {
  span {
    font-size: 28px;
    color: #ffca5a;
    font-weight: 600;
  }
  h3 {
    font-size: 22px;
    color: $navy;
    text-align: center;
  }
}

.name-info {
  margin-right: 20px;
}

.baby-info .left-info {
  padding-right: 60px;

}

.sex-info, .weight-info, .height-info {
  background-color: #f2f7fe;
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
}
