.container-dashboard {
  width: 80%;
}

.badge {
  background-color: #ffca5a3b;
  font-size: 12px;
  border-radius: 18px;
  font-weight: 600;
  color: #ffca5a;
  margin-bottom: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 22px;
  padding-right: 22px;
  margin-right: 10px;
}

.badge2 {
  background-color: #57cbf22e;
  font-size: 12px;
  border-radius: 18px;
  font-weight: 600;
  color: #57CBF2;
  margin-bottom: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 22px;
  padding-right: 22px;
}

.card-infos h2 {
  color: #ffca5a;
}

.fa-address-card {
  color: #a6cdbb;
  margin-right: 8px;
}

.fa-vial {
  color: #a6cdbb;
}

#patient-info {
  height: 300px;
  background: white;
  display: flex;
  border-radius: 2rem;
  margin-top: 15px;
  margin-bottom: 80px;
  justify-content: space-between;
}

// .cards-show {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-gap: 40px;
// }

// .cards-index {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr;
//   grid-gap: 32px;
// }

// .card-patient {
//   color: black;
//   font-weight: lighter;
//   transition: opacity 0.3s ease;
//   background-color: #e7f6ed;
//   border: 1px solid rgba(0,0,0,.125);
//   border-radius: 20px;
//   margin-bottom: 50px;
// }

// .card-highlight {
//   color: black;
//   font-weight: lighter;
//   transition: opacity 0.3s ease;
//   background-color: white;
//   height: 200px;
//   border: 1px solid rgba(0,0,0,.125);
//   border-radius: .25rem;
// }

// .card-patient ul {
//   list-style-type: none;
//   padding-top: 8px;
//   padding-left: 20px;
//   padding-right: 20px;
//   padding-bottom: 20px;
// }

// .card-patient li {
//   background-color: #a6cdbb;
//   border-radius: 16px;
// }
// .card-patient li p {
//   margin-top: 0;
//   margin-bottom: 1rem;
//   padding: 10px;
//   font-weight: 600;
//   color: white;
// }

.card-title {
  background-color: #a6cdbb;
  color: white;
  padding-top: 12px;
  padding-bottom: 6px;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-product .card-infos {
  padding: 50px;
}

#patient-info img {
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}

 #travail-spontane-checkbox {
  display: none;
 }

 #cesarienne-checkbox {
  display: none;
 }

 #artificial-labour {
  display: none;
 }

 #labour_drugs {
  display: none;
 }

 #pharmacie-checkbox {
  display: none;
 }

 #category-anesthesia {
  display: none;
 }

 #moment-anesthesia {
  display: none;
 }

 #anesthesia-loco-general {
  display: none;
 }

 #anesthesia-general {
  display: none;
 }

 #anesthia-checkbox {
  display: none;
 }

 #complication-type {
  display: none;
 }

 #complication-checkbox {
  display: none;
 }

 #labour-actes {
  display: none;
 }

 #delivrance-checkbox {
  display: none;
 }

 #monitoring-options {
  display: none;
 }

 #monitoring-checkbox {
  display: none;
 }

 #intensivecare-checkbox {
  display: none;
 }

 #intensivecare-options {
  display: none;
 }

 #infections-options {
  display: none;
 }

#infections-checkbox {
  display: none;
 }

 #pathologies-checkbox {
   display: none;
 }

 #pathologies-options {
   display: none;
 }

#new_labour > fieldset {
  display: none;
  &.active {
    display: block;
  }
}
