.container-labourform {
  text-align: center;
  background: white;
  border: 0 none;
  border-radius: 20px;
  padding: 40px 30px;
  box-sizing: border-box;
  position: relative;
  z-index: -1;
}

.form_step {
  background: white;
  border: 0 none;
  border-radius: 0px;
  padding: 30px 30px;
  box-sizing: border-box;
  margin: 0px 4%;
  position: relative;
}

/*headings*/
.fs-title {
  text-align: center;
  font-size: 24px;
  color: #184BA1;
  margin-bottom: 15px;
  letter-spacing: 1px;
  font-weight: 600;
}

//*progressbar*--------//

#progressbar {
  width: 50%;
  overflow: hidden;
  counter-reset: step;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 0;
}

#progressbar li {
  list-style-type: none;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  display: flex;
  font-size: 20px;
  color: white;
  background-color: #184BA1;
  border-radius: 25px;
  margin: 0 auto 10px auto;
  align-items: center;
  justify-content: center;
  &.present {
    background-color: #F3F7FD;
    color: #184BA1;
    border: 1px solid #184BA1;
  }
}

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #184BA1;
  position: absolute;
  left: -50%;
  top: 14px;
  z-index: -1; /*put it behind the numbers*/
  &.present {
    background: #F3F7FD;
  }
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

#progressbar li.active:before, #progressbar li.active:after {
  background: #184BA1;
  color: white;
}

.fs-subtitle {
  text-align:center;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-bottom: 25px;
}

.container-button {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.container-button-1 {
  display: flex;
  justify-content: flex-end;
}

#artificial-labour {
  background-color: #184BA1;
}

.btn-ghost {
  background-color: #184BA1;
  color: white;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: 400;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}
