<div class="sidebar">
  <div class="button"><i class="fas fa-bars"></i></div>
  <ul>
    <li><a href="#"><span class="fas fa-user-plus"></span>Admission</a></li>
    <li><a href="#"><span class="fas fa-stethoscope"></span>Consultation</a></li>
    <li><a href="#"><span class="fas fa-clinic-medical"></span>Hospitalisation</a></li>
    <li><a href="#"><span class="fas fa-baby"></span>Nouvelle naissance</a></li>
    <li><a href="#"><span class="fas fa-prescription-bottle-alt"></span>Ordonnance</a></li>
    <li>
  </ul>
</div>


