<div class="sidebar">
  <div class="button"><i class="fas fa-bars"></i></div>
  <ul>
    <li><a href="#"><i class="fas fa-user-plus"></i><span>Admission</span></a></li>
    <li><a href="#"><i class="fas fa-stethoscope"></i><span>Consultation</span></a></li>
    <li><a href="#"><i class="fas fa-clinic-medical"></i><span>Hospitalisation</span></a></li>
    <li><a href="#"><i class="fas fa-baby"></i><span>Nouvelle naissance</span></a></li>
    <li><a href="#"><i class="fas fa-prescription-bottle-alt"></i><span>Ordonnance</span></a></li>
    <li>
  </ul>
</div>


