<div class="sidebar">
  <div class="button"><i class="fas fa-bars"></i></div>
  <ul>
    <div class="line"><li class="action"><a href="#"><span class="icone"><i class="fas fa-user-plus"></i></span><span class="label">Admission</span></a></li></div>
    <div class="line"><li class="action"><a href="#"><span class="icone"><i class="fas fa-stethoscope"></i></span><span class="label">Consultation</span></a></li></div>
    <div class="line"><li class="action"><a href="#"><span class="icone"><i class="fas fa-clinic-medical"></i></span><span class="label">Hospitalisation</span></a></li></div>
    <div class="line" id="baby-sidebar"><li class="action"><a href="#"><span class="icone"><i class="fas fa-baby"></i></span><span class="label">Naissance</span></a></li></div>
    <div class="line"><li class="action"><a href="#"><span class="icone"><i class="fas fa-prescription-bottle-alt"></i></span><span class="label">Ordonnance</span></a></li></div>
  </ul>
</div>


