<div class="banner" style="background-image: url(<%= image_path "undraw_medicine_b1ol.svg" %>);">
  <div class="container">
      <h1>EasyCare est le nouveau tableau de bord indispensable à toutes les sages-femmes!</h1>
      <p>Centraliser l'ensemble de vos activités quotidiennes sur une seule interface 💻</p>
      <%= link_to "Connexion", new_user_session_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="banner-2">
  <div class="container">
      <div class="cards">
        <div class="card-category">
          <i class="fas fa-laptop-medical"></i>
          <hr></hr>
          <p>All activities in one solution</p>
        </div>
        <div class="card-category">
          <svg aria-hidden="true" data-prefix="fal" data-icon="stopwatch" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-stopwatch fa-w-14 fa-3x" width="60px" heigth="60px" color="white">
          <path fill="currentColor" d="M393.3 141.3l17.5-17.5c4.7-4.7 4.7-12.3 0-17l-5.7-5.7c-4.7-4.7-12.3-4.7-17 0l-17.5 17.5c-35.8-31-81.5-50.9-131.7-54.2V32h25c6.6 0 12-5.4 12-12v-8c0-6.6-5.4-12-12-12h-80c-6.6 0-12 5.4-12 12v8c0 6.6 5.4 12 12 12h23v32.6C91.2 73.3 0 170 0 288c0 123.7 100.3 224 224 224s224-100.3 224-224c0-56.1-20.6-107.4-54.7-146.7zM224 480c-106.1 0-192-85.9-192-192S117.9 96 224 96s192 85.9 192 192-85.9 192-192 192zm4-128h-8c-6.6 0-12-5.4-12-12V172c0-6.6 5.4-12 12-12h8c6.6 0 12 5.4 12 12v168c0 6.6-5.4 12-12 12z"/>
          </svg>
          <hr></hr>
          <p>Perform daily activities in one-click</p>
        </div>
        <div class="card-category">
          <i class="far fa-calendar-alt"></i>
          <hr></hr>
          <p>Easy schedule</p>
        </div>
      </div>
  </div>
</div>


<div class="banner-3">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>Une solution simple et accessible à l'ensemble du personnel médical français</h1>
        <hr></hr>
        <p>Le dashboard EasyCare reprend les principes d'utilisation les plus efficaces et partagés dans le monde. Notre ambition est de fournir l'expérience client la plus juste, tout en respectant la variété de données disponibles.</p>
        <hr></hr>
        <p>Cela permet d'éviter les frustrations d'une formation utilisateur</p>
      </div>
      <div class="col-6">
        <h1>Un dashboard fait sur mesure pour les utilisateurs et uniquement pour eux</h1>
        <hr></hr>
        <p>Le principal client de ce dashboard est le personnel médical. Nous avons donc fait en sorte de concevoir un dashboard s'ajustant au moindre besoin quotidien de toute personne travaillant en milieu hospitalier.</p>
        <hr></hr>
        <p>L'objectif est de pouvoir redonner de la liberté d'action et de décision dans un secteur chronophage.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="contact">
      <div class="btn btn-primary">Contactez nous</div>
  </div>
</div>
