.buttons {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: 44%;
  padding-left: 25px;
}

.buttons a {
  display: flex;
  justify-content: center;
}

.buttons span {
  margin-left: 5px;
}

.button-action1, .button-action2, .button-action3, .button-action4, .button-action5, .button-action6 {
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  font-size: 16px;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  width: 80%;
  margin-bottom: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.button-action1 {
  color: $white;
  background-color: $blue;
  border: 1px solid $blue;
  &:hover {
    background-color: $white;
    color: $blue;
  }
}

.button-action2 {
  color: $white;
  background-color: $lightblue;
  border: 1px solid $lightblue;
  &:hover {
    background-color: $white;
    color: $lightblue;
  }
}

.button-action3 {
  color: $white;
  background-color: $pink;
  border: 1px solid $pink;
  &:hover {
    background-color: $white;
    color: $pink;
  }
}

.button-action4 {
  color: $white;
  background-color: $dark-pink;
  border: 1px solid $dark-pink;
  &:hover {
    background-color: $white;
    color: $dark-pink;
  }
}

.button-action5 {
  color: $white;
  background-color: $coral;
  border: 1px solid $coral;
  &:hover {
    background-color: $white;
    color: $coral;
  }
}

.button-action6 {
  color: $white;
  background-color: $teal;
  border: 1px solid $teal;
  &:hover {
    background-color: $white;
    color: $teal;
  }
}

.button-action p {
  margin-top: 20px;
}

#btn-home {
  font-size: 20px;
  letter-spacing: 1.3px;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 50rem;
  background: #6b63ff;
  transition: background 0.3s ease;
  margin-top: 10px;
}

#btn-home:hover {
  background: #6b63ff9c;
  color: white;
}
