.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px;
}

.button-action {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: whitesmoke;
  font-size: 16px;
  padding: 8px 24px;
  transition: opacity 0.3s ease;
  background-color: $teal;
  width: 300px;
  height: 300px;
  word-wrap: break-word;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-bottom: 40px;
  margin-right: 40px;
}

.button-action p {
  margin-top: 20px;
}

.btn-flat {
  font-size: 20px;
  letter-spacing: 1.3px;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 50rem;
  background: teal;
  transition: background 0.3s ease;
  margin-top: 10px;
}

.btn-flat:hover {
  background: $teal;
  color: white;
}
