.cards-show {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}

.card-patient {
  color: black;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  background-color: white;
  height: 200px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-highlight {
  color: black;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  background-color: whitesmoke;
  height: 200px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-patient ul {
  list-style-type: none;
  padding-left: 0px;
  padding-left: 8px;
}

.card-title {
  background-color: $teal;
  color: whitesmoke;
  padding: 8px;
  text-align: center;
}

.title {
  color: black;
}





