
.sidebar {
  background-color: $white;
  height: 100vh;
  font-size: 16px;
  font-family: Libre Franklin;
  font-weight: 200;
  position: sticky;
  top: 0;
  box-shadow: 0 0 10px #5897fb54;
  min-width: 200px;
}

.sidebar ul {
  list-style-type: none;
  padding-top: 100px;
  padding-inline-start: 0;
}

.sidebar a {
  text-decoration: none;
  color: #585858;
}

.sidebar li {
  padding: 16px;
}

.fas.fa-bars {
  color: white;
  padding-top: 10px;
}

.sidebar .icone {
  font-size: 20px;
  cursor: pointer;
  background-color: $white;
  color: #585858;
  width: 42px;
  display: inline-block;
  text-align: center;
}

.sidebar .action1:hover {
  background-color: $blue;
  .icone {
    background-color: $blue;
    color: $white;
  }
  .label {
    color: $white;
  }
}

.sidebar .action2:hover {
  background-color: $lightblue;
  .icone {
    background-color: $lightblue;
    color: $white;
  }
  .label {
    color: $white;
  }
}

.sidebar .action3:hover {
  background-color: $dark-pink;
  .icone {
    background-color: $dark-pink;
    color: $white;
  }
  .label {
    color: $white;
  }
}

.sidebar .action4:hover {
  background-color: $pink;
  .icone {
    background-color: $pink;
    color: $white;
  }
  .label {
    color: $white;
  }
}

.sidebar .action5:hover {
  background-color: $coral;
  .icone {
    background-color: $coral;
    color: $white;
  }
  .label {
    color: $white;
  }
}

.sidebar .action6:hover {
  background-color: $teal;
  .icone {
    background-color: $teal;
    color: $white;
  }
  .label {
    color: $white;
  }
}

.action1, .action2, .action3, .action4, .action5, .action6 {
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.button {
  display: flex;
  justify-content: center;
  padding-top: 8px;
  cursor: pointer;
  color: #585858;
}

.sidebar span {
  display: inline-block;
}

.sidebar.hidden .label {
  display: none;
}

.sidebar .button {
  justify-content: flex-end;
  padding-right: 16px;
  color: #585858;
}

.sidebar.hidden .button {
  padding-right: 30px;
}

.logo-sidebar {
  width: 65px;
  padding-top: 8px;
}

.top-sidebar {
  display: flex;
  justify-content: center;
}


.sidebar-active {
  background-color: $pink;
  .icone {
    background-color: $pink;
    color: $white;
  }
  .label {
    color: $white;
  }
}

