.navbar-lewagon {
  justify-content: space-between;
  margin-bottom: 24px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-link {
  margin: 10px 20px;
}

.dropdown {
  margin-top: 5px;
  margin-right: 32px;
}

.search-form-control.form-group {
  position: relative;
  margin: 20px 50px;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.0rem;
  border: 1.5px solid #ff9e9e4d;
  border-radius: 10px;
}

.search-form-control .form-control:focus {
  border: 1px solid #ff9e9e4d;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.fa-user-nurse {
  font-size: 26px;
  color: #0249A7;
}

.fa-user-nurse:hover {
  cursor: pointer;
}

.fa-search:before {
  content: "\f002";
  color: #7fb2fb;
}

#search-patient:before {
  content: "\f002";
  color: #ff9f9fa1;
}

#close:before {
  content: "\f00d";
  color: #ff9f9fa1;

}

.navbar-expand-sm .navbar-nav .dropdown-menu {
  border-radius: 10px;
}

#search-data {
  position: relative;
  button {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}

