.cards-window {
  display: flex;
  justify-content: center;
}

.card-patient-window {
  color: black;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  background-color: white;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 10px;
  margin-bottom: 20px;
  width: 150px;
  text-align: center;
}

.card-patient-window:hover {
  border: 5px solid $lightblue;
}

.card-patient-window ul {
  list-style-type: none;
  padding-left: 0px;
  padding-left: 8px;
  padding-top: 16px;
}

.cards-window a {
  text-decoration: none;
}

.card-patient-window .patient-name {
  font-weight: 400;
}

.user {
  color: $blue;
  text-align: center;
  padding-top: 5px;
}

.user .far.fa-user {
  background-color: $lightblue;
  padding: 12px;
  border-radius: 10px;
}


