<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Vous venez de recevoir un mail de confirmation concernant votre modification d'adresse électronique <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Votre adresse électronique vient d'être modifié pour <%= @resource.email %>.</p>
<% end %>
