<p>Bonjour <%= @resource.email %>!</p>

<p>Votre compte a été bloqué à cause de tentatives répétées de connexion en échec.</p>

<p>Cliquez sur le lien ci-dessous pour dévérouiller votre compte:</p>

<p><%= link_to 'Dévérouiller mon compte', unlock_url(@resource, unlock_token: @token) %></p>
